<p>{% load static %}</p>
<h1>Solving a HackerRank problem using Haskell</h1>
<p>I have been learning Haskell with this great book: <a href="http://learnyouahaskell.com/">Learn You a Haskell for Great Good!</a><br><br />
When I learn something new, I split the learning process in two parts:</p>
<ol>
<li>Theoretical: typically by reading a book.</li>
<li>Practical: typically by creating a project or solving HackerRank exercises.</li>
</ol>
<p>In this blog post I want to show how Haskell can be used to solve HackerRank problems. I will present my solution written in Haskell for the “Diagonal Difference” problem. Please see the problem statement here: <a href="https://www.hackerrank.com/challenges/diagonal-difference/problem">Diagonal Difference</a></p>
<p>I will show the solution in parts, explaining each part separately. By the end of the post I will show the solution as a whole. If you see something that could be done better I will greatly appreciate your feedback.</p>
<h2>Solution general description</h2>
<p>The solution will be shown following a top-down approach, starting with the main function, which is the entry point of the program, and then explaining each function until we reach the complete solution.</p>
<p>The implementation of the main function is as follows:</p>
<pre class="highlight"><code class="language-haskell">main = do
  number &lt;- readLn :: IO Int
  matrix &lt;- getIntSquareMatrix number
  let (antiDiagonal, mainDiagonal) = getDiagonals(matrix)
  let result = absDiagonalDifference antiDiagonal mainDiagonal
  print result</code></pre>


<p>The main function presents a high level view of how we are going to solve the problem:</p>
<ol>
<li>Read expected input from stdin: lines 25 and 26</li>
<li>Give us a data structure to work with: line 26</li>
<li>Perform logic to solve the problem: lines 27 and 28</li>
<li>Print result to standard output: line 29</li>
</ol>
<p>Now let's analyse what each function does to complete the solution.</p>
<h3>getIntSquareMatrix</h3>
<p>This is the implementation of <code>getIntSquareMatrix</code>:</p>
<pre class="highlight"><code class="language-haskell">getIntSquareMatrix :: Int -&gt; IO([[Int]])
getIntSquareMatrix rows = do
  lines &lt;- replicateM rows getLine
  let intMatrix = (map . map) read $ map words lines
  return intMatrix</code></pre>


<p>The function <code>getIntSquareMatrix</code> receives an <code>Int</code> as paramenter and returns a matrix of Int elements, inside an IO "wrapper" <code>IO([[Int]])</code>. Allow me to explain this function line by line:</p>
<p>Line 6 reads a line from stdin N times, where N is defined by the parameter <code>rows</code>, then it binds the result to <code>lines</code>.</p>
<p>What is the type of <code>lines</code>?</p>
<blockquote>
<p><code>replicateM rows getLine</code> returns a type <code>IO([String])</code><br />
-&gt; Replace by type in line 6<br />
<code>lines &lt;- IO([String])</code><br />
-&gt; Left arrow <code>&lt;-</code> binds the <code>[String]</code> contained in the <code>IO</code> "wrapper" to lines<br />
Then <code>lines</code> is of type <code>[String]</code></p>
</blockquote>
<p>Line 7 applies some functions to <code>lines</code> and defines <code>intMatrix</code> of type <code>[[Int]]</code>.</p>
<p>Finally line 8 wraps the <code>intMatrix</code> into the <code>IO</code> "wrapper" so the function returns a value of type <code>IO([[Int]])</code>.</p>
<h3>getDiagonals</h3>
<p>The implementation of the function <code>getDiagonals</code> is as follows:</p>
<pre class="highlight"><code class="language-haskell">getDiagonals :: [[Int]] -&gt; ([Int], [Int])
getDiagonals matrix =
  let size = length(matrix) - 1
      indices = [0..size]
      antiDiagonal = zipWith (!!) matrix indices
      mainDiagonal = zipWith (!!) matrix (reverse indices)
   in (antiDiagonal, mainDiagonal)</code></pre>


<p>Given a matrix as parameter, this function returns a tuple with the anti diagonal and the main diagonal of the matrix. The anti diagonal goes from bottom left to top right. The main diagonal goes from top left to bottom right.</p>
<h3>absDiagonalDifference</h3>
<p>This is the implementation of the function <code>absDiagonalDifference</code>:</p>
<pre class="highlight"><code class="language-haskell">absDiagonalDifference :: [Int] -&gt; [Int] -&gt; Int
absDiagonalDifference diagonalOne diagonalTwo =
  let oneSum = foldr (+) 0 diagonalOne
      twoSum = foldr (+) 0 diagonalTwo
   in abs (oneSum - twoSum)</code></pre>


<p>This function takes the two lists of Int elements <code>[Int]</code> as parameters. Each list represents one diagonal of the matrix. Then it sums the contents of each list. Finally it returns the absolute value of the difference between the sums.</p>
<h2>Complete solution</h2>
<p>This is the complete solution of the problem. It contains the same functions we have explained in a single file.</p>
<pre class="highlight"><code class="language-haskell">import Control.Monad(replicateM)
import Data.List.Split(splitOn)

getIntSquareMatrix :: Int -&gt; IO([[Int]])
getIntSquareMatrix rows = do
  matrix &lt;- replicateM rows getLine
  let intMatrix = (map . map) read $ map words matrix
  return intMatrix

getDiagonals :: [[Int]] -&gt; ([Int], [Int])
getDiagonals matrix =
  let size = length(matrix) - 1
      indices = [0..size]
      antiDiagonal = zipWith (!!) matrix indices
      mainDiagonal = zipWith (!!) matrix (reverse indices)
   in (antiDiagonal, mainDiagonal)

absDiagonalDifference :: [Int] -&gt; [Int] -&gt; Int
absDiagonalDifference diagonalOne diagonalTwo =
  let oneSum = foldr (+) 0 diagonalOne
      twoSum = foldr (+) 0 diagonalTwo
   in abs (oneSum - twoSum)

main = do
  number &lt;- readLn :: IO Int
  matrix &lt;- getIntSquareMatrix number
  let (antiDiagonal, mainDiagonal) = getDiagonals(matrix)
  let result = absDiagonalDifference antiDiagonal mainDiagonal
  print result</code></pre>


<h2>Final messages</h2>
<ul>
<li>With this post I wanted to show that Haskell could be used to solve HackerRank problems and that in fact it is a great language for doing it!</li>
<li>Why I did not use the word "Monad" in this post? I want this entry to be simple and easy to understand for Haskell newcomers.</li>
<li>Please DO NOT copy and paste the solution of the problem, I uploaded it here for educational purposes only.</li>
</ul>
<h2>Resources</h2>
<ul>
<li><a href="https://en.wikibooks.org/wiki/Haskell/do_notation">do notation</a></li>
<li><a href="https://stackoverflow.com/questions/28624408/equal-vs-left-arrow-symbols-in-haskell">Equal VS Left arrow</a></li>
<li><a href="https://wiki.haskell.org/Let_vs._Where">let VS where</a></li>
<li><a href="https://stackoverflow.com/questions/631284/dot-operator-in-haskell-need-more-explanation">Dot operator</a></li>
<li><a href="https://en.wikipedia.org/wiki/Main_diagonal">Matrix diagonal and anti diagonal</a></li>
<li><a href="https://stackoverflow.com/a/15324633/2420718">What does return do?</a></li>
</ul>