asgiref==3.2.10
astroid==2.3.3
autopep8==1.5
Django==3.1.12
isort==4.3.21
lazy-object-proxy==1.4.3
Markdown==3.2.1
markdown-djangostaticimage==0.1
mccabe==0.6.1
pycodestyle==2.5.0
pylint==2.4.4
pytz==2019.3
six==1.14.0
sqlparse==0.3.0
typed-ast==1.4.1
wrapt==1.11.2
pygments==2.7.4
pymdown-extensions==7.0.0
gunicorn==20.0.4
PyYAML==5.4
django-compression-middleware==0.4.1
whitenoise[brotli]==5.2.0
