{% extends "base.html" %}

{% block head %}
  {{ super() }}
  <title>{{ SITENAME }} - {{ article.title }}</title>
  {% if article.description %}
    <meta name="description" content="{{ article.description }}">
  {% endif %}
{% endblock %}

{% block content %}

<h1 class="title">
  {{ article.title }}
</h1>
<p class="subtitle">
  {% if article.modified %}
    {{ article.date | strftime('%Y-%m-%d') }}, last updated {{ article.modified | strftime('%Y-%m-%d') }}
  {% else %}
    {{ article.date | strftime('%Y-%m-%d') }}
  {% endif %}
</p>

{{ article.content | safe }}

{% endblock content %}