/* For code blocks */

.highlight pre,
.highlighttable pre {
    background: #272822;
    color: #f8f8f2
}

.highlighttable {
    font-size: .875em;
}

table.highlighttable td {
    padding: 0;
}

.highlight pre code,
.highlighttable pre {
    font-size: 1em;
}

.linenos pre {
    padding-right: 0;
}
