.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    overflow-x: scroll;
}

.site-content {
    flex: 1;
}

footer.footer {
    padding: 1rem 1rem 1rem;
    color: #e6e6e6;
    background-color: inherit;
}