{% extends 'blog/base.html' %}

{% block content %}

<h1>Blog</h1>

<p>
    <mark>Welcome!</mark> In this blog you can find my opinions on software, economics and finance.
</p>

{% if posts %}
    <h2>Posts</h2>
    {% include "./posts.html" %}
{% else %}
    <p>No posts yet :(</p>
{% endif %}

<h2>Categories</h2>
{% for key, value in categories.items %}
  <a class="plain" href="/blog/categories/{{ key }}">
    {% if not forloop.last %}
      {{ key }} ({{ value }}),
    {% else %}
      {{ key }} ({{ value }})
    {% endif %}
  </a>
{% endfor %}

{% if tags %}
  <h2>Tags</h2>
  <ul class="plain">
    {% for key, value in tags.items %}
      <li>
        <a class="plain" href="/blog/tags/{{ key }}">
          {{ key }} ({{ value }})
        </a>
      </li>
    {% endfor %}
  </ul>
{% endif %}

{% endblock %}
