{% extends 'blog/base.html' %}

{% block content %}

<h1>Blog</h1>

<div class="columns">
  <div class="column is-three-quarters">
    {% if posts %}
      <h2>Posts</h2>
      {% include "./posts.html" %}
    {% else %}
      <p>No posts yet :(</p>
    {% endif %}
  </div>

  <div class="column">
    {% if categories %}
    <h2>Categories</h2>
    <ul>
      {% for key, value in categories.items %}
      <li>
        <a href="/blog/categories/{{ key }}">
          {{ key }} ({{ value }})
        </a>
      </li>
      {% endfor %}
    </ul>
    {% endif %}

    {% if tags %}
    <h2>Tags</h2>
    <ul>
      {% for key, value in tags.items %}
      <li>
        <a href="/blog/tags/{{ key }}">
          {{ key }} ({{ value }})
        </a>
      </li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
</div>

{% endblock %}
