{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'about/style.css' %}">

<h1>About</h1>

<p>
    Hi! My name is Julian Espinel.
</p>

<p>
    Over the past five years I have worked designing software and programming
    using: Java, Python, Go, Ruby and Javascript.
</p>

<p>
    If a you like to know more about my professional background please go to my
    <span class="highlight">CV</span>.
</p>

<p>
    Areas of interest:
    <ul>
        <li>Programming</li>
        <li>Finance</li>
        <li>Education</li>
        <li>Economics</li>
    </ul>
</p>

<p>
    If you would like to know what I have done involving the areas of interests
    mentioned above, please go to my <span class="highlight">projects</span> or
    check out my <span class="highlight">blog</span>.
</p>
